<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated activitymodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="activitymodel.presentation.ActivitymodelModelWizardID"
            name="%_UI_ActivitymodelModelWizard_label"
            class="activitymodel.presentation.ActivitymodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ActivitymodelModelFile.gif">
         <description>%_UI_ActivitymodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated activitymodel -->
      <editor
            id="activitymodel.presentation.ActivitymodelEditorID"
            name="%_UI_ActivitymodelEditor_label"
            icon="icons/full/obj16/ActivitymodelModelFile.gif"
            extensions="activitymodel"
            class="activitymodel.presentation.ActivitymodelEditor"
            contributorClass="activitymodel.presentation.ActivitymodelActionBarContributor">
      </editor>
   </extension>

</plugin>
