<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yaml_diagram -->
      <package
            uri="http://www.example.org/yaml_diagram"
            class="yaml_diagram.Yaml_diagramPackage"
            genModel="model/yaml_diagram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yaml_diagram -->
      <package
            uri="http://www.eclipse.org/emf/2002/GenModel"
            class="genmodel.GenmodelPackage"
            genModel="model/yaml_diagram.genmodel"/>
   </extension>

</plugin>
